@{
    ViewData["Title"] = "Home Page";
}

@*<div class="row">
    <div class="col-md-12">
        <p>pepee</p>
        <test-component></test-component>
    </div>
</div>*@

@await Html.PartialAsync("~/Features/Test/TestController.cshtml");