<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - netcore_test</title>

    <link rel="stylesheet" type="text/css" href="https://natalfwk.gruposancorseguros.com/2.3.2/nf.min.css" defer />
    <script type="text/javascript" src="https://natalfwk.gruposancorseguros.com/2.3.2/nf.min.js" defer></script>

    <script src="~/scripts/app-client.js" defer></script>

</head>
<body>    
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
